<H3> DECISION TREE </H3>

In [1]:
import pandas as pd
# extracting data into a df
adf = pd.read_csv('advertisement.csv')
adf

,age,gender,income,education,married,children,city,occupation,purchase_amount,most bought item,labels
0,45,Male,61271.953359,Master,False,3,Lake Sheila,Doctor,87.697118,monitor,electronics clothing sports
1,24,Female,53229.101074,High School,False,1,Crystalburgh,Businessman,115.135586,lipstick,furniture beauty
2,45,Female,30066.046684,Bachelor,True,3,Margaretburgh,Engineer,101.694559,biscuits,clothing electronics food sports
3,19,Male,48950.246384,PhD,False,0,Williamshaven,Lawyer,97.964887,maggi,food
4,29,Female,44792.627094,Master,False,0,New Paul,Businessman,86.847281,carpet,home
...,...,...,...,...,...,...,...,...,...,...,...
995,61,Male,34246.773063,Master,True,3,Solisfurt,HR,103.357441,bed,food furniture
996,56,Female,45494.225591,Bachelor,False,0,Dawsonmouth,Engineer,85.159023,biscuits,home clothing food
997,64,Female,68740.442006,PhD,True,0,Lake Garyport,Salesman,101.434650,bat,sports clothing
998,18,Female,44348.446680,Bachelor,True,0,Ericfurt,Retired,97.649988,perfume,beauty
999,61,Male,39160.083677,Master,False,0,Port Jose,Housewife,105.591485,shirt,books clothing

In [2]:
adf['married'] = adf['married'].astype(int)
adf['gender'] = adf['gender'].map({'Male': 1, 'Female': 0})
adf

,age,gender,income,education,married,children,city,occupation,purchase_amount,most bought item,labels
0,45,1,61271.953359,Master,0,3,Lake Sheila,Doctor,87.697118,monitor,electronics clothing sports
1,24,0,53229.101074,High School,0,1,Crystalburgh,Businessman,115.135586,lipstick,furniture beauty
2,45,0,30066.046684,Bachelor,1,3,Margaretburgh,Engineer,101.694559,biscuits,clothing electronics food sports
3,19,1,48950.246384,PhD,0,0,Williamshaven,Lawyer,97.964887,maggi,food
4,29,0,44792.627094,Master,0,0,New Paul,Businessman,86.847281,carpet,home
...,...,...,...,...,...,...,...,...,...,...,...
995,61,1,34246.773063,Master,1,3,Solisfurt,HR,103.357441,bed,food furniture
996,56,0,45494.225591,Bachelor,0,0,Dawsonmouth,Engineer,85.159023,biscuits,home clothing food
997,64,0,68740.442006,PhD,1,0,Lake Garyport,Salesman,101.434650,bat,sports clothing
998,18,0,44348.446680,Bachelor,1,0,Ericfurt,Retired,97.649988,perfume,beauty
999,61,1,39160.083677,Master,0,0,Port Jose,Housewife,105.591485,shirt,books clothing

In [3]:
from sklearn.preprocessing import OneHotEncoder 

# Create an instance of One-hot-encoder 
enc = OneHotEncoder() 
  
# Passing encoded columns 
  
enc_data = pd.DataFrame(enc.fit_transform( 
    adf[['occupation', 'education', 'most bought item']]).toarray()) 

adf

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

,age,gender,income,education,married,children,city,occupation,purchase_amount,most bought item,labels
0,45,1,61271.953359,Master,0,3,Lake Sheila,Doctor,87.697118,monitor,electronics clothing sports
1,24,0,53229.101074,High School,0,1,Crystalburgh,Businessman,115.135586,lipstick,furniture beauty
2,45,0,30066.046684,Bachelor,1,3,Margaretburgh,Engineer,101.694559,biscuits,clothing electronics food sports
3,19,1,48950.246384,PhD,0,0,Williamshaven,Lawyer,97.964887,maggi,food
4,29,0,44792.627094,Master,0,0,New Paul,Businessman,86.847281,carpet,home
...,...,...,...,...,...,...,...,...,...,...,...
995,61,1,34246.773063,Master,1,3,Solisfurt,HR,103.357441,bed,food furniture
996,56,0,45494.225591,Bachelor,0,0,Dawsonmouth,Engineer,85.159023,biscuits,home clothing food
997,64,0,68740.442006,PhD,1,0,Lake Garyport,Salesman,101.434650,bat,sports clothing
998,18,0,44348.446680,Bachelor,1,0,Ericfurt,Retired,97.649988,perfume,beauty
999,61,1,39160.083677,Master,0,0,Port Jose,Housewife,105.591485,shirt,books clothing

In [4]:
# Merge with main 
newdf = adf.join(enc_data) 
newdf.drop('city', axis=1, inplace=True)
# adf.drop('education',  axis=1, inplace=True)
# adf.drop('occupation', axis=1, inplace=True)
# adf.drop('most bought item', axis=1, inplace=True)

newdf

,age,gender,income,education,married,children,occupation,purchase_amount,most bought item,labels,...,29,30,31,32,33,34,35,36,37,38
0,45,1,61271.953359,Master,0,3,Doctor,87.697118,monitor,electronics clothing sports,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24,0,53229.101074,High School,0,1,Businessman,115.135586,lipstick,furniture beauty,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,45,0,30066.046684,Bachelor,1,3,Engineer,101.694559,biscuits,clothing electronics food sports,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19,1,48950.246384,PhD,0,0,Lawyer,97.964887,maggi,food,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,29,0,44792.627094,Master,0,0,Businessman,86.847281,carpet,home,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,61,1,34246.773063,Master,1,3,HR,103.357441,bed,food furniture,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,56,0,45494.225591,Bachelor,0,0,Engineer,85.159023,biscuits,home clothing food,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,64,0,68740.442006,PhD,1,0,Salesman,101.434650,bat,sports clothing,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,18,0,44348.446680,Bachelor,1,0,Retired,97.649988,perfume,beauty,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
999,61,1,39160.083677,Master,0,0,Housewife,105.591485,shirt,books clothing,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [5]:
from sklearn.preprocessing import LabelEncoder
labels_list = []
for lab in adf.labels:
    labels_list.append(lab)

label_encoder = LabelEncoder()
encoded_labels = label_encoder.fit_transform(labels_list)

# print("Encoded Labels:", encoded_labels)
# decoded_labels = label_encoder.inverse_transform(encoded_labels)
# print("Decoded Labels:", decoded_labels)

# adf.drop('education',  axis=1, inplace=True)
adf["encoded_label"] = encoded_labels

# adf.columns

In [16]:
# newdf.drop('education',  axis=1, inplace=True)
# newdf.drop('city',  axis=1, inplace=True)
# newdf.drop('most bought item',  axis=1, inplace=True)
# newdf.drop('labels',  axis=1, inplace=True)
# newdf.drop('occupation',  axis=1, inplace=True)

newdf

,age,gender,income,married,children,purchase_amount,0,1,2,3,...,29,30,31,32,33,34,35,36,37,38
0,45,1,61271.953359,0,3,87.697118,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24,0,53229.101074,0,1,115.135586,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,45,0,30066.046684,1,3,101.694559,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19,1,48950.246384,0,0,97.964887,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,29,0,44792.627094,0,0,86.847281,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,61,1,34246.773063,1,3,103.357441,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,56,0,45494.225591,0,0,85.159023,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,64,0,68740.442006,1,0,101.434650,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,18,0,44348.446680,1,0,97.649988,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
999,61,1,39160.083677,0,0,105.591485,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [17]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split

<H3> POWERSET </H3>

In [18]:
# dividing data into target and feature variables

X = newdf
Y = encoded_labels

In [19]:
# splitting data into test and training set
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2, random_state= 1)

In [20]:
# building the decision tree

# making the classifier object
dclf = DecisionTreeClassifier()

# training the classifier
dclf = dclf.fit(xtrain.values, ytrain)

#  predicting labels for test set
ypred = dclf.predict(xtest.values)

In [21]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# print(dclf.score(xtrain.values, ytrain))
print("Accuracy:", accuracy_score(ytest, ypred))

Accuracy: 0.035

In [23]:
criterion = ["gini", "entropy"]
maxdepth = [3,5,10,20,30]
maxfeatures = [3,5,7,9,11]
combinations = []
for cri in criterion:
    for dep in maxdepth:
        for feat in maxfeatures:
            dclf = DecisionTreeClassifier(criterion=cri, max_depth=dep, max_features=feat)
            dclf = dclf.fit(xtrain.values, ytrain)
            ypred = dclf.predict(xtest.values)
            acc = accuracy_score(ytest, ypred)
            f1mac = f1_score(ytest, ypred, average = "macro")
            f1mic = f1_score(ytest, ypred, average = "micro")

            combinations.append([cri, dep, feat, acc, f1mac, f1mic])
            print("criterion: ", cri, end=' ')
            print("maxdepth: ", dep, end=' ')
            print("maxfeatures: ", feat, end=' ')
            print("f1micro: ", f1mic, end=' ')
            print("f1macro: ", f1mac, end=' ')
            print("accuracy: ", acc)

print(combinations)

criterion:  gini maxdepth:  3 maxfeatures:  3 f1micro:  0.035 f1macro:  0.008540105910064998 accuracy:  0.035
criterion:  gini maxdepth:  3 maxfeatures:  5 f1micro:  0.04 f1macro:  0.006124935016268401 accuracy:  0.04
criterion:  gini maxdepth:  3 maxfeatures:  7 f1micro:  0.05000000000000001 f1macro:  0.007295769364734881 accuracy:  0.05
criterion:  gini maxdepth:  3 maxfeatures:  9 f1micro:  0.03 f1macro:  0.0028373623879241854 accuracy:  0.03
criterion:  gini maxdepth:  3 maxfeatures:  11 f1micro:  0.045 f1macro:  0.005484268248212848 accuracy:  0.045
criterion:  gini maxdepth:  5 maxfeatures:  3 f1micro:  0.03 f1macro:  0.005887216330254305 accuracy:  0.03
criterion:  gini maxdepth:  5 maxfeatures:  5 f1micro:  0.03 f1macro:  0.0024861631330634023 accuracy:  0.03
criterion:  gini maxdepth:  5 maxfeatures:  7 f1micro:  0.045 f1macro:  0.005105036191625725 accuracy:  0.045
criterion:  gini maxdepth:  5 maxfeatures:  9 f1micro:  0.045 f1macro:  0.008706428307757213 accuracy:  0.045
criterion:  gini maxdepth:  5 maxfeatures:  11 f1micro:  0.035 f1macro:  0.0026982150269821504 accuracy:  0.035
criterion:  gini maxdepth:  10 maxfeatures:  3 f1micro:  0.025000000000000005 f1macro:  0.0015644978533634105 accuracy:  0.025
criterion:  gini maxdepth:  10 maxfeatures:  5 f1micro:  0.05000000000000001 f1macro:  0.009561793159078227 accuracy:  0.05
criterion:  gini maxdepth:  10 maxfeatures:  7 f1micro:  0.035 f1macro:  0.0037324464153732444 accuracy:  0.035
criterion:  gini maxdepth:  10 maxfeatures:  9 f1micro:  0.015 f1macro:  0.0038690075572563125 accuracy:  0.015
criterion:  gini maxdepth:  10 maxfeatures:  11 f1micro:  0.03 f1macro:  0.009034292265999583 accuracy:  0.03
criterion:  gini maxdepth:  20 maxfeatures:  3 f1micro:  0.0 f1macro:  0.0 accuracy:  0.0
criterion:  gini maxdepth:  20 maxfeatures:  5 f1micro:  0.02 f1macro:  0.005633255633255633 accuracy:  0.02
criterion:  gini maxdepth:  20 maxfeatures:  7 f1micro:  0.025000000000000005 f1macro:  0.003655603655603656 accuracy:  0.025
criterion:  gini maxdepth:  20 maxfeatures:  9 f1micro:  0.03 f1macro:  0.006186888276440515 accuracy:  0.03
criterion:  gini maxdepth:  20 maxfeatures:  11 f1micro:  0.03 f1macro:  0.006435160281314128 accuracy:  0.03
criterion:  gini maxdepth:  30 maxfeatures:  3 f1micro:  0.01 f1macro:  0.0022659511031604056 accuracy:  0.01
criterion:  gini maxdepth:  30 maxfeatures:  5 f1micro:  0.0 f1macro:  0.0 accuracy:  0.0
criterion:  gini maxdepth:  30 maxfeatures:  7 f1micro:  0.01 f1macro:  0.003359173126614987 accuracy:  0.01
criterion:  gini maxdepth:  30 maxfeatures:  9 f1micro:  0.015 f1macro:  0.003163660983566197 accuracy:  0.015
criterion:  gini maxdepth:  30 maxfeatures:  11 f1micro:  0.02 f1macro:  0.006323604710701485 accuracy:  0.02
criterion:  entropy maxdepth:  3 maxfeatures:  3 f1micro:  0.025000000000000005 f1macro:  0.0018951238463433588 accuracy:  0.025
criterion:  entropy maxdepth:  3 maxfeatures:  5 f1micro:  0.015 f1macro:  0.000429553264604811 accuracy:  0.015
criterion:  entropy maxdepth:  3 maxfeatures:  7 f1micro:  0.01 f1macro:  0.000378383560768272 accuracy:  0.01
criterion:  entropy maxdepth:  3 maxfeatures:  9 f1micro:  0.01 f1macro:  0.0008096150337529648 accuracy:  0.01
criterion:  entropy maxdepth:  3 maxfeatures:  11 f1micro:  0.01 f1macro:  0.0009564989517819706 accuracy:  0.01
criterion:  entropy maxdepth:  5 maxfeatures:  3 f1micro:  0.005 f1macro:  0.00029433406916850625 accuracy:  0.005
criterion:  entropy maxdepth:  5 maxfeatures:  5 f1micro:  0.03 f1macro:  0.0033705515189844707 accuracy:  0.03
criterion:  entropy maxdepth:  5 maxfeatures:  7 f1micro:  0.015 f1macro:  0.0005 accuracy:  0.015
criterion:  entropy maxdepth:  5 maxfeatures:  9 f1micro:  0.015 f1macro:  0.0017948717948717949 accuracy:  0.015
criterion:  entropy maxdepth:  5 maxfeatures:  11 f1micro:  0.02 f1macro:  0.002276999316473001 accuracy:  0.02
criterion:  entropy maxdepth:  10 maxfeatures:  3 f1micro:  0.005 f1macro:  0.0006191950464396284 accuracy:  0.005
criterion:  entropy maxdepth:  10 maxfeatures:  5 f1micro:  0.005 f1macro:  0.0010526315789473686 accuracy:  0.005
criterion:  entropy maxdepth:  10 maxfeatures:  7 f1micro:  0.01 f1macro:  0.0028532608695652174 accuracy:  0.01
criterion:  entropy maxdepth:  10 maxfeatures:  9 f1micro:  0.005 f1macro:  0.0020100502512562816 accuracy:  0.005
criterion:  entropy maxdepth:  10 maxfeatures:  11 f1micro:  0.01 f1macro:  0.0018901890189018903 accuracy:  0.01
criterion:  entropy maxdepth:  20 maxfeatures:  3 f1micro:  0.005 f1macro:  0.000778816199376947 accuracy:  0.005
criterion:  entropy maxdepth:  20 maxfeatures:  5 f1micro:  0.01 f1macro:  0.0032938076416337285 accuracy:  0.01
criterion:  entropy maxdepth:  20 maxfeatures:  7 f1micro:  0.01 f1macro:  0.002802802802802803 accuracy:  0.01
criterion:  entropy maxdepth:  20 maxfeatures:  9 f1micro:  0.015 f1macro:  0.003656059580230197 accuracy:  0.015
criterion:  entropy maxdepth:  20 maxfeatures:  11 f1micro:  0.01 f1macro:  0.0049382716049382715 accuracy:  0.01
criterion:  entropy maxdepth:  30 maxfeatures:  3 f1micro:  0.005 f1macro:  0.0008536064874093042 accuracy:  0.005
criterion:  entropy maxdepth:  30 maxfeatures:  5 f1micro:  0.01 f1macro:  0.0033018867924528303 accuracy:  0.01
criterion:  entropy maxdepth:  30 maxfeatures:  7 f1micro:  0.0 f1macro:  0.0 accuracy:  0.0
criterion:  entropy maxdepth:  30 maxfeatures:  9 f1micro:  0.0 f1macro:  0.0 accuracy:  0.0
criterion:  entropy maxdepth:  30 maxfeatures:  11 f1micro:  0.01 f1macro:  0.001729559748427673 accuracy:  0.01
[['gini', 3, 3, 0.035, 0.008540105910064998, 0.035], ['gini', 3, 5, 0.04, 0.006124935016268401, 0.04], ['gini', 3, 7, 0.05, 0.007295769364734881, 0.05000000000000001], ['gini', 3, 9, 0.03, 0.0028373623879241854, 0.03], ['gini', 3, 11, 0.045, 0.005484268248212848, 0.045], ['gini', 5, 3, 0.03, 0.005887216330254305, 0.03], ['gini', 5, 5, 0.03, 0.0024861631330634023, 0.03], ['gini', 5, 7, 0.045, 0.005105036191625725, 0.045], ['gini', 5, 9, 0.045, 0.008706428307757213, 0.045], ['gini', 5, 11, 0.035, 0.0026982150269821504, 0.035], ['gini', 10, 3, 0.025, 0.0015644978533634105, 0.025000000000000005], ['gini', 10, 5, 0.05, 0.009561793159078227, 0.05000000000000001], ['gini', 10, 7, 0.035, 0.0037324464153732444, 0.035], ['gini', 10, 9, 0.015, 0.0038690075572563125, 0.015], ['gini', 10, 11, 0.03, 0.009034292265999583, 0.03], ['gini', 20, 3, 0.0, 0.0, 0.0], ['gini', 20, 5, 0.02, 0.005633255633255633, 0.02], ['gini', 20, 7, 0.025, 0.003655603655603656, 0.025000000000000005], ['gini', 20, 9, 0.03, 0.006186888276440515, 0.03], ['gini', 20, 11, 0.03, 0.006435160281314128, 0.03], ['gini', 30, 3, 0.01, 0.0022659511031604056, 0.01], ['gini', 30, 5, 0.0, 0.0, 0.0], ['gini', 30, 7, 0.01, 0.003359173126614987, 0.01], ['gini', 30, 9, 0.015, 0.003163660983566197, 0.015], ['gini', 30, 11, 0.02, 0.006323604710701485, 0.02], ['entropy', 3, 3, 0.025, 0.0018951238463433588, 0.025000000000000005], ['entropy', 3, 5, 0.015, 0.000429553264604811, 0.015], ['entropy', 3, 7, 0.01, 0.000378383560768272, 0.01], ['entropy', 3, 9, 0.01, 0.0008096150337529648, 0.01], ['entropy', 3, 11, 0.01, 0.0009564989517819706, 0.01], ['entropy', 5, 3, 0.005, 0.00029433406916850625, 0.005], ['entropy', 5, 5, 0.03, 0.0033705515189844707, 0.03], ['entropy', 5, 7, 0.015, 0.0005, 0.015], ['entropy', 5, 9, 0.015, 0.0017948717948717949, 0.015], ['entropy', 5, 11, 0.02, 0.002276999316473001, 0.02], ['entropy', 10, 3, 0.005, 0.0006191950464396284, 0.005], ['entropy', 10, 5, 0.005, 0.0010526315789473686, 0.005], ['entropy', 10, 7, 0.01, 0.0028532608695652174, 0.01], ['entropy', 10, 9, 0.005, 0.0020100502512562816, 0.005], ['entropy', 10, 11, 0.01, 0.0018901890189018903, 0.01], ['entropy', 20, 3, 0.005, 0.000778816199376947, 0.005], ['entropy', 20, 5, 0.01, 0.0032938076416337285, 0.01], ['entropy', 20, 7, 0.01, 0.002802802802802803, 0.01], ['entropy', 20, 9, 0.015, 0.003656059580230197, 0.015], ['entropy', 20, 11, 0.01, 0.0049382716049382715, 0.01], ['entropy', 30, 3, 0.005, 0.0008536064874093042, 0.005], ['entropy', 30, 5, 0.01, 0.0033018867924528303, 0.01], ['entropy', 30, 7, 0.0, 0.0, 0.0], ['entropy', 30, 9, 0.0, 0.0, 0.0], ['entropy', 30, 11, 0.01, 0.001729559748427673, 0.01]]

In [26]:

combinations.sort(key=lambda x: x[4], reverse=True)
for i in range(min(3, len(combinations))):
    print(f"Combination {i + 1}: criterion={combinations[i][0]}, maxdepth={combinations[i][1]}, maxfeatures={combinations[i][2]}, f1micro={combinations[i][3]}, f1macro={combinations[i][4]}, accuracy={combinations[i][5]}")

Combination 1: criterion=gini, maxdepth=10, maxfeatures=5, f1micro=0.05, f1macro=0.009561793159078227, accuracy=0.05000000000000001
Combination 2: criterion=gini, maxdepth=10, maxfeatures=11, f1micro=0.03, f1macro=0.009034292265999583, accuracy=0.03
Combination 3: criterion=gini, maxdepth=5, maxfeatures=9, f1micro=0.045, f1macro=0.008706428307757213, accuracy=0.045

In [28]:
# confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest, ypred)

array([[1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

<h3> MULTIOUTPUT </H3>